alembic==0.9.1
attrs==21.2.0
autoenv==1.0.0
backports.entry-points-selectable==1.1.0
bcrypt==3.2.0
certifi==2019.9.11
cffi==1.13.2
chardet==3.0.4
Click==7.0
coverage==4.5.4
distlib==0.3.3
filelock==3.3.1
Flask==1.1.1
Flask-API==1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.10
flask-marshmallow==0.14.0
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==2.8
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.10.3
Mako==1.0.6
Markdown==3.1.1
MarkupSafe==1.1.0
marshmallow==3.14.1
marshmallow-sqlalchemy==0.26.1
packaging==21.2
platformdirs==2.4.0
pluggy==1.0.0
protobuf==3.17.3
psycopg2-binary==2.9.1
py==1.10.0
pycparser==2.17
PyJWT==1.7.1
pyparsing==2.4.7
pypi==2.1
pytest==6.2.5
python-coveralls==2.9.3
python-editor==1.0.3
PyYAML==5.1.2
requests==2.22.0
requests-mock==1.9.3
six==1.13.0
SQLAlchemy==1.4.27
toml==0.10.2
urllib3==1.25.11
virtualenv==20.8.1
virtualenv-clone==0.5.7
Werkzeug==0.16.0
